@import url('https://fonts.googleapis.com/css?family=Abel|Julius+Sans+One|Kalam|Kaushan+Script|Open+Sans|Open+Sans+Condensed:300|PT+Serif|Shadows+Into+Light&display=swap');
h1{
    font-family: Abel, cursive;
    color:black;
    font-size: 1000%;
}

h3{
    font-family: Abel, cursive; 
    color:black;
}
p{
    font-family: "Open Sans";
   
   }
   ul {
    list-style: none; 
    margin: 0; 
    padding-left: 0;
  }
  
body {margin:0;}
h2 {
    font-family: Abel, cursive; 
    color:black; 
}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: "Open Sans";
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 599px;
  margin: 0 auto 30px;
}
.one ul {
  padding: 1em 0;
  background: #FF7F56;
}
.one a {
  padding: 1em;
  background: rgba(177, 152, 145, .3);
  border-right: 1px solid #b19891;
  color: #695753;
}
.one a:hover {background: #b19891;}
.one li {
  display: inline;
}
 

