@import url('https://fonts.googleapis.com/css?family=Abel|Julius+Sans+One|Kalam|Kaushan+Script|Open+Sans|Open+Sans+Condensed:300|PT+Serif|Shadows+Into+Light&display=swap');
h1{
    font-family: "Open Sans", cursive;
    color:black; 
}
form.one {
    font-family: "Open Sans", cursive;
    background:#FFA07A;
    width: 450px;
    height: 660px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

form.two {
    font-family: "Open Sans", cursive;
    background:#FFA07A;
    width: 450px;
    height: 600px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}