@import url('https://fonts.googleapis.com/css?family=Abel|Julius+Sans+One|Kalam|Kaushan+Script|Open+Sans|Open+Sans+Condensed:300|PT+Serif|Shadows+Into+Light&display=swap');
h1{
    font-family: "Open Sans", cursive;
    color:black; 
}
form.one {
    
    font-family: "Open Sans", cursive;
    color:black; 
    
    padding: 50px;
    background:#FFA07A;
   position: fixed; top: 50%; left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
